{% load static %}

<nav>
                <div class="row">
                   <a href="{% url 'index'%}"> <img src="{% static 'img/logocopy.png' %}" alt="PFL" class="logo"> </a>
                   <a href="{% url 'index'%}"> <img src="{% static 'img/logo.png' %}" alt="PFL" class="logo-black"> </a>
                    <ul class="main-nav js--main-nav">
                        <li><a href="{% url 'fixtures' %}">Fixtures</a>
                        <li><a href="{% url 'rules' %}">Rules</a>
                        <li><a href="{% url 'live_matches' %}">Live Matches</a></li>
                        <li><a href="{% url 'ranking' %}">Rankings</a></li>
                        <li><a href="{% url 'registration' %}">Registration</a></li>                        
                        <li> <div class="dropdown">
                                        <a class="dropbtn">Extras</a>
                                        <div class="dropdown-content">
                                            <a href="{% url 'venue' %}">VENUE</a>
                                           <a href="">Shop</a>
                                            
                                        </div>
                                        </div> </li>
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>