{% extends 'base.html' %}

{% block title %} | Rules {% endblock %}

{% load static %}

{% block content %}

{% include 'partials/navbar.html'%}

  <section class="section-testimonials" id="works">
            <div class="row">
                <h2>RULES</h2>
            </div>
            <div class="row">
               <div class="row js--wp-1">
                <div class="col span-1-of-4 box">
                   
                    <h3>About Points</h3>
                    <p>
                        Winning team of a match will be awarded 3 points. If you lose a match then 0 points will be awarded and if the match is drawn then both the teams will be awarded 1 point each. A maximum of 6 points can be availed by a team in a single match.                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    
                    <h3>Bonus Point</h3>
                    <p>
                        If a team wins with a goal difference of 3 goals or more then 1 point will be awarded to them. 
                        If a team scores a goal in the stoppage time (no matter how many times a team scores in the stoppage time) one bonus point will be awarded. 
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <h3>Kit Points</h3>
                    <p>
                        • Team will be awarded one points for same kit designs. The management will provide the kit designs. There will be a variety of designs to choose from. 
                        • If an individual player scores three goals in a match, he will be substituted for three minutes. 
                       </p>
                </div>
                <div class="col span-1-of-4 box">
                    <h3>Player and Substitue</h3>
                    <p>
                        • Rolling substitutions are allowed in this format. 
                        • If a team has a minimum of four players then the match will start without the fifth player on the field. As soon as the fifth player arrives, he can join their team on the field. 
                                           </p>
                </div>
            </div>
            </div>

            <div class="row">
               <div class="row js--wp-1">
                <div class="col span-1-of-4 box">
                   
                    <h3>Penalties</h3>
                    <p>
                           • 
                    If a foul is committed inside, the box then a penalty will be awarded.
                    •  If there is an intentional handball inside the box then a penalty will be awarded. 
                    • The format of penalty will be a 1on1 with the goalkeeper. The time limit for the penalty will be 15 seconds. </p>
                </div>
                <div class="col span-1-of-4 box">
                    <h3>More abour Penalties</h3>
                   <p>The attacking player will start from the half line and the goalkeeper is allowed to move within the box. The attacking player can shoot from anywhere in the given time. The final decision will be of the on field referee.
                                        </p>
                </div>
                <div class="col span-1-of-4 box">
                    
                     <h3>Free Kicks</h3>
                    <p>
                       •   All free kicks will be indirect. 
                    <br>• The defending team may put up a wall at a radius of 4 yard. 
                    <br> •If a ball goes out of bounds then a kick in will be done instead of a throw in. The goalkeeper is not allowed to control the ball for more than 5 seconds in his/her own half.

                        </p>
                </div>
                <div class="col span-1-of-4 box">
                   
                    <h3>5 Second Rule</h3>
                    <p>For kick-ins, free kicks, goal clearances and corner kicks, the player in possession of the ball has 4 seconds to restart play, which the referee will count with fingers in the air. If play is not restarted within 5 seconds, an indirect kick will be awarded to the opposing team.  
                        </p>
                </div>
            </div>
            <div class="row">
            <div class="col span-1-of-2 box">
                   
                    <h3>Accumulated Fouls</h3>
                    <p>
                       Each team is allowed to give away five free kicks during a game. On the sixth foul, a PENALTY is awarded to the opposing team and the offending team is not allowed to position any players (other than the goalkeeper) between the ball and the goal. The format of the penalty will be the same as mentioned above in the penalty section. After the penalty is taken, the foul count will restart for the offending team. The count will remain the same for the opposing team. Example (Team A has five fouls and Team B has three fouls. Team A commits a foul then Team B will be awarded a PENALTY. After the penalty is taken, Team A foul count will become 0 whereas Team B will still be on 3 fouls.)
                    </p>
                </div>
                <div class="col span-1-of-2 box">
                    
                    <h3>Sliding Tackles</h3>
                    <p>
                    Sliding tackles are not allowed in Futsal but players are allowed to slide on the field (e.g., to stop a ball from going out of play, to direct a pass towards the net, etc.) For a player sliding to be considered a foul, the tackler’s opponent must be in possession of the ball. Referees will not give a foul for a slide if the opponent does not have possession of the ball.  
    • Fingernails need to be cleanly cut, a player should not have any accessories on them while they are playing the match. This is only to prevent any injury to other players.
                        </p>
                </div>
            </div>
            <div class="row"> 
             <div class="col span-1-of-1 box">
             <h3> In the event of a two-way or a three-way tie between teams (Equal Points):</h3>
             <p>
            • Goal difference will be taken into account. The team with the highest goal difference will prevail as winner. (Goal Difference = Goals Scored – Goal Conceded) 
          <br>  • If the teams are still tied, then the team with the least number of fouls committed will prevail.
           <br> • If the teams are still ties then the winner will be decided through a SUDDEN DEATH PENALTY. 
           <br> • If the teams are still tied, a coin flip will determine the prevailing team.</p>
                    </div>
            </div>

             <div class="row"> 
             <div class="col span-1-of-1 box">
             <h3> REFEREES DECISIONS WILL BE FINAL. ANY FORM OF MISBEHAVIOUR WITH THE REFEREE OR PLAYERS WILL NOT BE TOLERATED AND MAY LEAD TO THE TEAM DISQUALIFICATION FROM THAT MATCH. IF THE TEAM CONTINUES THIS BEHAVIOUR IN ANY OF THE NEXT MATCHES THEN THIS WILL LEAD TO THE TEAM BEING DISQUALIFIED FROM THE TOURNAMENT.</h3>
            
                    </div>
            </div>

            </div>
        </section>
        

 {% include 'partials/footer.html'%}

{% endblock %}